@model List<Category>

<div class="breadcrumbs">
    <div class="container">
        <h2>Kategori Listesi</h2>
    </div>
</div>

<section id="course" class="course">
    <div class="container">
        <div class="row" >
            <div>
                <a class="btn btn-sm btn-primary" asp-controller="Admin" asp-action="CategoryCreate">Yeni Kategori Ekle </a>
                @if (Model.Count > 0)
                {
                    @if (ViewBag.IsDeleted)
                    {
                        <a class="btn btn-sm btn-danger" asp-controller="Admin" asp-action="CategoryList" asp-route-isDeleted="false">Aktif Kategorileri Göster</a>
                    }
                    else
                    {
                        <a class="btn btn-sm btn-danger" asp-controller="Admin" asp-action="CategoryList" asp-route-isDeleted="true">Silinmiş Kategorileri Göster</a>
                    }
                }
                else
                {

                    <a class="btn btn-sm btn-danger" asp-controller="Admin" asp-action="CategoryList" asp-route-isDeleted="false">Aktif Kategorileri Göster</a>


                    <a class="btn btn-sm btn-danger" asp-controller="Admin" asp-action="CategoryList" asp-route-isDeleted="true">Silinmiş Kategorileri Göste</a>

                }

                <hr />
                @if (Model.Count > 0)
                {


                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var category in Model)
                            {
                                <tr>

                                    <td>@category.Id</td>
                                    <td>@category.Name</td>
                                    <td>
                                        @if (!category.IsDeleted)
                                        {
                                            <a asp-controller="Admin"
                                             asp-action="CategoryEdit"
                                              asp-route-id=@category.Id
                                                 class="btn btn-sm btn-warning">Düzenle</a>
                                            <!-- Button trigger DeleteModal -->
                                            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal_@category.Id">
                                                Delete
                                            </button>

                                            <!-- DeleteModal -->
                                            <div class="modal fade" id="DeleteModal_@category.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Uyarı!</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p class="text-danger">Bu Kategori Silinecek!</p>
                                                            <p>Emin misin?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
                                                            <a asp-controller="Admin"
                                                   asp-action="CategoryDelete"
                                                   asp-route-id=@category.Id
                                                   class="btn btn-danger">Evet</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <a asp-controller="Admin"
                                   asp-action="CategoryDelete"
                                   asp-route-id=@category.Id
                                   class="btn btn-sm btn-warning">Geri</a>
                                            <!-- Button trigger DeleteModal -->
                                            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal_@category.Id">
                                                Kalıcı Olarak Sil
                                            </button>

                                            <!-- DeleteModal -->
                                            <div class="modal fade" id="DeleteModal_@category.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Uyarı!</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p class="text-danger">Bu Kategori Silinecek!</p>
                                                            <p>Emin misin?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
                                                            <a asp-controller="Admin"
                                                   asp-action="CategoryDeletePermanently"
                                                   asp-route-id=@category.Id
                                                   class="btn btn-danger">Evet</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    @await Html.PartialAsync("_NoCategory")
                    ;
                }
            </div>

        </div>
    </div>
</section>