@model ChangePasswordModel

<div class="breadcrumbs">
    <div class="container">
        <h2>Şifre Değiştir</h2>
    </div>
</div>

<section id="events" class="events">
    <div class="container" data-aos="fade-up">
        <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <form asp-controller="Admin" asp-action="ChangeUserPassword" method="post">
                <input type="hidden" name="UserId" value=@Model.UserId />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row mb-2">
                            <div class="col-md-2">
                                <label asp-for="NewPassword"> Yeni Şifre :</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" asp-for="NewPassword" />
                            </div>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group row mb-2">
                            <div class="col-md-2">
                                <label asp-for="ReNewPassword">Yeni Şifre Onay :</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" asp-for="ReNewPassword" />
                            </div>
                            <span asp-validation-for="ReNewPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group row mb-2">
                            <div class="col-md-10 offset-2">
                                <button class="btn btn-success" type="submit">Şifreyi Değiştir</button>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
            }